{"id":"{{ dashboard_id }}","type":"dashboard","attributes":{"title":"{{ dashboard_title }}","description":"{{ dashboard_description }}","hits":0,"version":1,"panelsJSON":"[{\"version\":\"7.14.0\",\"type\":\"lens\",\"gridData\":{\"x\":0,\"y\":0,\"w\":24,\"h\":15,\"i\":\"1\"},\"panelIndex\":\"1\",\"embeddableConfig\":{\"title\":\"tag cloud\"},\"panelRefName\":\"panel_1\"}]","optionsJSON":"{\"hidePanelTitles\":false,\"useMargins\":true}","timeRestore":false,"kibanaSavedObjectMeta":{"searchSourceJSON":"{\"query\":{\"query\":\"\",\"language\":\"kuery\"},\"filter\":[]}"}},"references":[{"name":"panel_1","type":"lens","id":"{{ lens_id }}"}],"coreMigrationVersion":"8.8.0","typeMigrationVersion":"8.9.0","managed":false} 