{"id":"{{ index_pattern_id }}","type":"index-pattern","attributes":{"title":"{{ index_pattern_title }}","timeFieldName":"timestamp","fields":"[{\"name\":\"timestamp\",\"type\":\"date\",\"count\":0,\"scripted\":false,\"searchable\":true,\"aggregatable\":true,\"readFromDocValues\":true}]"},"references":[]} 